.container,
.conditional-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: steelblue;
  border-radius: 1rem;
}

.width-60 {
  width: 60%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
